<div class="header">Dragón Alado de Ra</div>

<div class="jumbotron">
    <div class="texto">
        <p>Este fue un juego desarrollado en equipo durante Preparatorio para la asignatura de Matemática II. La consigna 
            consistía en desarrollar un juego en GeoGebra utilizando las propiedades de los lugares geométricos, junto con otras 
            figuras geométricas. Mi contribución al proyecto radicó en el diseño de los personajes, desde la apariencia hasta la 
            programación de los movimientos y del disparo del dragón.
        </p>
        <p>El jugador controla un mítico dragón que debe vencer enemigos que se encuentran en su camino. Para esto, es capaz de 
            lanzar bolas de fuego de su boca.</p>
        <p>Al final hay un video mostrando el funcionamiento del juego. Como GeoGebra no es un no es un software diseñado para 
            soportar tanto gráfico, los frames por segundo son bajos.</p>
    </div>
</div>

<div class="carrusel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/dragonAlado/figuras.png">
            </div>
            <div class="carousel-caption">
                <h5>Definiciones de objetos matemáticos</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/dragonAlado/funciones.png">
            </div>
            <div class="carousel-caption">
                <h5>Modelado de funciones para simular movimientos</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/dragonAlado/variables.png">
            </div>
            <div class="carousel-caption">
                <h5>Variables para modificar los lugares geométricos</h5>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<video src="./assets/dragonAlado/gameplay.mp4" controls></video>

<button class="botonVolver"><a class="nav-link" routerLink="/">Inicio</a></button>

<p class="punto">.</p>