<div class="header">El Temor de un Sabio</div>

<div class="jumbotron">
    <div class="texto">
        <p>Este fue un juego desarrollado en equipo durante Preparatorio para la asignatura de Matemática II. La consigna 
            consistía en desarrollar un juego en Scratch que reflejara lo dado en clase acerca de divisibilidad de números 
            enteros. En el juego se aprecian temas como números compuestos, máximo común divisor, mínimo común múltiplo, 
            Algoritmo de Euclides, entre otros.
        </p>
        <p>El jugador se pone en la piel de un matemático que ha sido secuestrado y debe resolver acertijos para lograr escapar 
            (basado en la película "La habitación de Fermat").</p>
        <p>Al final hay un video mostrando el inicio del juego, y algunos de los acertijos esperables en el transcurso 
            del mismo</p>
    </div>
</div>

<div class="carrusel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/temorSabio/ejemplo.png">
            </div>
            <div class="carousel-caption">
                <h5>Ejemplo de pregunta</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/temorSabio/pregunta.png">
            </div>
            <div class="carousel-caption">
                <h5>Algoritmo encargado de elegir una pregunta al azar</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/temorSabio/solucion.png">
            </div>
            <div class="carousel-caption">
                <h5>Formulación de una solución correcta</h5>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<video src="./assets/temorSabio/gameplay.mp4" controls></video>

<button class="botonVolver"><a class="nav-link" routerLink="/">Inicio</a></button>

<p class="punto">.</p>
