<div class="header">Sobre mí</div>

<div class="jumbotron">
    <div class="texto">
        <p>Comencé en el desarrollo de videojuegos a los 12 años, descargando Unity y siguiendo tutoriales para crear juegos. 
            A lo largo de mi formación académica realicé algunos juegos como proyectos para materias, lo que generó una gran 
            pasión en el desarrollo de videojuegos.
        </p>
        <p>Actualmente me encuentro estudiando la herramienta Unity, realizando cursos y creando juegos para mejorar y 
            progresar en el uso de la misma. Sin embargo, no es el único programa en el cual me manejo para hacer juegos, 
            como se puede apreciar en el apartado de "Juegos".</p>
        <p>Mi correo electrónico: juancosentino2000@gmail.com</p>
    </div>
</div>

<button class="botonContacto"><a class="nav-link" routerLink="/">Inicio</a></button>