.header {
    display: flex;
    justify-content: center;
    color: rgb(222, 219, 0);
    font-family: Comic Sans MS;
    font-size: 350%;
    text-shadow: -5px 0 white, 0 3px black, 3px 0 black, 0 -3px black;
    background-image: url("backgroundJumbotron.png");
    background-position: -5% top;
    border: rgb(255, 251, 0) 3px solid;
    box-shadow: 0 0 10px rgb(255, 251, 0), 0 0 30px rgb(255, 251, 0), 0 0 60px rgb(255, 251, 0);
    border-radius: 12px;
}

.jumbotron {
    background-image: url(backgroundJumbotron.png);
    position: relative;
    top: 40px;
    left: 1%;
    width: 60%;
    border: rgb(255, 251, 0) solid;
    box-shadow: 0 0 10px rgb(255, 251, 0), 0 0 30px rgb(255, 251, 0), 0 0 60px rgb(255, 251, 0);
}

p {
    padding: 1%;
    background-color: rgb(246, 243, 75);
}

.botonVolver {
    position: fixed;
    right: 10%;
    top: 86%;
    border-radius: 12px;
    color: white;
    background-color: rgb(21, 184, 16);
    border: rgb(21, 184, 16) 0px;
    size: 110%;
    box-shadow: 0 0 10px rgb(21, 184, 16), 0 0 30px rgb(21, 184, 16), 0 0 60px rgb(21, 184, 16);
}

.botonVolver:hover {
    color: black;
    background-color: rgb(84, 238, 79);
    box-shadow: 0 0 10px rgb(84, 238, 79), 0 0 30px rgb(84, 238, 79), 0 0 60px rgb(84, 238, 79);
}

img {
    width: 200px;
    height: 270px;
    position: relative;
    right: -70%;
    top: -220px;
}

@media only screen and (max-width: 768px) {
    img {
        position: relative;
        right: 0%;
        top: 100px;
    }

    .jumbotron {
        width: 100%;
        left: 0%;
    }
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    right: 0px;
    top: 0px;
}

#linkedin {
    width: 60px;
    height: 60px;
}

.envolverBotonIdioma {
    display: flex;
    justify-content: center;
}

.botonIdioma {
    border-radius: 12px;
    color: white;
    background-color: rgb(186, 183, 10);
    border: rgb(186, 183, 10) 0px;
    width: 140px;
    box-shadow: 0 0 10px rgb(186, 183, 10) 0 0 30px rgb(186, 183, 10) 0 0 60px rgb(186, 183, 10)
}

.botonIdioma:hover {
    color: black;
    background-color: rgb(255, 251, 49);
    box-shadow: 0 0 10px rgb(255, 251, 49), 0 0 30px rgb(255, 251, 49), 0 0 60px rgb(255, 251, 49);
}