<div class="header">Sobre mí</div>

<div class="jumbotron">
    <div class="texto">
        <p>Soy estudiante de Ingeniería en Informática en la Universidad Católica del Uruguay. Elegí esta carrera para acercarme a la industria del desarrollo de videojuegos como programador.</p>
        <p>Día a día me motivo para aprender cosas nuevas dentro del desarrollo de videojuegos, así también como dentro del mundo de la programación.</p>
        <p>Actualmente estoy buscando trabajo.</p>
        <hr>
        <p>Mi correo electrónico: juancosentino2000@gmail.com</p>
        <p><a href="https://www.instagram.com/j.cosentino/" target="_blank" rel="noopener noreferrer"><img src="./assets/logo ig-.png" class="logo"></a>
        <a href="https://www.linkedin.com/in/juan-cosentino-546aab255/" target="_blank" rel="noopener noreferrer"><img src="./assets/logo linkedin.png" class="logo" id="linkedin"></a>
        <a href="https://jp206.itch.io/" target="_blank" rel="noopener noreferrer"><img src="./assets/logo itchio.png" class="logo"></a></p>
    </div>
</div>

<img src="./assets/fotomia.jpg">

<button class="botonVolver"><a class="nav-link" routerLink="/">Inicio</a></button>