<div class="header">Campeón de Waterdeep</div>

<div class="jumbotron">
    <div class="texto">
        <p>Este fue un juego desarrollado en la Universidad para la asignatura de Narrativa y Balance en Videojuegos.
            La consigna consistía en desarrollar un juego del género RPG en Twine, el cual debía tener varias
            localidades,
            varios objetos utilizables por el jugador, y varios enemigos diferentes. Por la naturaleza de Twine,
            este juego tiene componentes en HTML y CSS.
        </p>
        <p>El jugador encarna un gladiador en un mundo medieval fantástico, donde la magia y distintas razas son
            habituales.
            Este gladiador llega a la ciudad de Waterdeep, el centro mundial de gladiadores, para convertirse en el
            campeón
            definitivo.</p>
        <p>Al final hay un video donde se aprecian algunas de
            las localidades
            accesibles, parte del sistema de compras, y un combate.</p>
    </div>
</div>

<div class="carrusel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/campeonWaterdeep/armas.png">
            </div>
            <div class="carousel-caption">
                <h5>Fragmento de código de la sección de armas cortantes de la tienda</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/campeonWaterdeep/daño.png">
            </div>
            <div class="carousel-caption">
                <h5>Código para calcular el ataque mágico del jugador y la respuesta del enemigo</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/campeonWaterdeep/pasajes.png" id="pasajes">
            </div>
            <div class="carousel-caption">
                <h5>Pasajes con los códigos que componen el juego</h5>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<video src="./assets/campeonWaterdeep/gameplay.mp4" controls></video>

<button class="botonVolver"><a class="nav-link" routerLink="/">Inicio</a></button>

<p class="punto">.</p>