<div class="header">Campeón de Waterdeep</div>

<div class="jumbotron">
    <div class="texto">
        <p>Este fue un juego desarrollado en la Universidad para la asignatura de Narrativa y Balance en Videojuegos.
            La consigna consistía en desarrollar un juego del género RPG en Twine, el cual debía tener varias localidades, 
            varios objetos utilizables por el jugador, y varios enemigos diferentes. Por la naturaleza de Twine, 
            este juego tiene componentes en HTML y CSS.
        </p>
        <p>El jugador encarna un gladiador en un mundo medieval fantástico, donde la magia y distintas razas son habituales. 
            Este gladiador llega a la ciudad de Waterdeep, el centro mundial de gladiadores, para convertirse en el campeón 
            definitivo. En el video se aprecian algunas de las localidades accesibles, parte del sistema de compras, y un 
            combate.</p>
        <p>A lo largo de esta página hay una galería mostrando el juego. En el siguiente video se aprecian algunas de las localidades 
            accesibles, parte del sistema de compras, y un combate.</p>
    </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img class="d-block w-100" src="./assets/fotomia.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img src="backgroundJumbotron.png">
        <div class="carousel-caption d-none d-md-block">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>

<video src="./assets/campeonWaterdeep/gameplay.mp4"></video>
<!--<img src="./assets/foto.png">-->