<div class="header">Stone Destroyer</div>

<div class="jumbotron">
    <div class="texto">
        <p>Este fue un juego desarrollado como proyecto final en el curso de Introducción al Desarrollo de Videojuegos en 
            Unity de edX. La consigna consistía en desarrollar un juego del estilo de Fruit Ninja, en el cual se utilizaran 
            corrutinas. Adicionalmente le agregué funciones y detalles como frenar todo movimiento con la barra espaciadora, 
            música, sistemas de partículas, y demás.
        </p>
        <p>El jugador deberá destruir todas las rocas lanzadas exceptuando las rojas, de lo contrario perderá.</p>
        <p>Al final hay un video mostrando la pantalla principal, los sistemas de partículas al destruir rocas, detener el 
            movimiento con la barra espaciadora y ver cómo luce una derrota.</p>
    </div>
</div>

<div class="carrusel">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/stoneDestroyer/corrutina.png" class="imagen">
            </div>
            <div class="carousel-caption">
                <h5>Corrutina encargada de lanzar rocas aleatoriamente</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/stoneDestroyer/interfaz.png">
            </div>
            <div class="carousel-caption">
                <h5>Interfaz de Unity</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="d-flex justify-content-center">
                <img src="./assets/stoneDestroyer/rocas.png" class="imagen">
            </div>
            <div class="carousel-caption">
                <h5>Clase que modela las rocas</h5>
            </div>
        </ng-template>
    </ngb-carousel>
</div>

<video src="./assets/stoneDestroyer/gameplay.mp4" controls></video>

<button class="botonVolver"><a class="nav-link" routerLink="/">Inicio</a></button>

<p class="punto">.</p>

