.header {
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 212);
    font-family: Comic Sans MS;
    font-size: 350%;
    text-shadow: -5px 0 white, 0 3px black, 3px 0 black, 0 -3px black;
    background-image: url("backgroundJumbotron.png");
    background-position: -5% top;
    border: rgb(255, 0, 212) 3px solid;
    box-shadow: 0 0 10px rgb(255, 0, 212), 0 0 30px rgb(255, 0, 212), 0 0 60px rgb(255, 0, 212);
    border-radius: 12px;
}

.jumbotron {
    background-image: url("backgroundJumbotron.png");
    position: relative;
    top: 30px;
    left: 14%;
    width: 70%;
    border: 1px solid;
    border-color: rgb(255, 0, 212);
    box-shadow: 0 0 10px rgb(255, 0, 212), 0 0 30px rgb(255, 136, 212), 0 0 60px rgb(255, 136, 212);
}

.texto {
    background-color: rgba(131, 19, 112, 0.795);
    color: white;
}

video {
    width: 85%;
    position: relative;
    left: 7%;
    top: 100px;
}

h5 {
    position: relative;
    top: 10px;
    background-color: rgba(248, 140, 230, 0.61);
    color: white;
    border: solid 2px rgb(255, 0, 212);
}

ngb-carousel {
    height: 580px;
    width: 1150px;
}

::ng-deep .carousel-control-prev-icon {
    background-color: rgba(167, 167, 167, 0.774);
}

::ng-deep .carousel-control-next-icon {
    background-color: rgba(167, 167, 167, 0.774);
}

::ng-deep .carousel-indicators {
    background-color: rgba(128, 128, 128, 0.438);
}

img {
    width: 100%;
    height: 100%;
    max-width: 1150px;
    max-height: 580px;
}

.carrusel {
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
}

.botonVolver {
    position: relative;
    right: 40%;
    top: 170px;
    border-radius: 12px;
    color: white;
    background-color: rgb(21, 184, 16);
    border: rgb(21, 184, 16) 0px;
    size: 110%;
    box-shadow: 0 0 10px rgb(21, 184, 16), 0 0 30px rgb(21, 184, 16), 0 0 60px rgb(21, 184, 16);
}

.botonVolver:hover {
    color: black;
    background-color: rgb(84, 238, 79);
    box-shadow: 0 0 10px rgb(84, 238, 79), 0 0 30px rgb(84, 238, 79), 0 0 60px rgb(84, 238, 79);
}

.punto {
    position: relative;
    top: 260px;
}

#carousel {
    width: 500px;
    height: 320px;
}

.envolverBotonIdioma {
    display: flex;
    justify-content: center;
}

.botonIdioma{
    border-radius: 12px;
    color: white;
    background-color: rgb(255, 0, 212);
    border: rgb(255, 0, 212) 0px;
    width: 140px;
    box-shadow: 0 0 10px rgb(255, 0, 212) 0 0 30px rgb(255, 0, 212) 0 0 60px rgb(255, 0, 212)
}

.botonIdioma:hover {
    color: black;
    background-color: rgb(255, 44, 220);
    box-shadow: 0 0 10px rgb(255, 44, 220), 0 0 30px rgb(255, 44, 220), 0 0 60px rgb(255, 44, 220);
}